.right-fixed-buttons {
  position: fixed;
  right: 22px;
  bottom: 22px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  z-index: 6000;
}

.right-fixed-button {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  border: none;

  background: #ff0000;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.right-fixed-button svg {
  font-size: 34px;
}

.chat-button {
  position: relative;
}

.chat-button span {
  position: absolute;
  right: -2px;
  top: -2px;

  width: 14px;
  height: 14px;

  background: #ff6b6b;
  border-radius: 50%;
}