.product-card {
  width: 260px;
  min-height: 500px;
  background: #fff;
  border-radius: 6px;
  padding: 18px 18px 22px;
  position: relative;
  box-sizing: border-box;
  transition: 0.2s ease;
}

.product-card:hover {
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12);
}

.product-labels {
  position: absolute;
  top: 16px;
  left: 18px;
  display: flex;
  gap: 8px;
  z-index: 2;
}

.sale-label,
.hit-label {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 4px 14px;
  border-radius: 4px;
}

.sale-label {
  background: #e2231a;
}

.hit-label {
  background: #ff6a00;
}

.product-icons {
  position: absolute;
  top: 48px;
  right: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #777;
  z-index: 2;
}

.product-icons svg {
  font-size: 27px;
  cursor: pointer;
}

.product-icons svg:hover {
  color: #e2231a;
}

.product-image-box {
  width: 100%;
  height: 210px;
  margin-top: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.product-image-box img {
  max-width: 85%;
  max-height: 170px;
  object-fit: contain;
}

.product-title {
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
  color: #111;
  min-height: 62px;
  margin: 15px 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.available {
  color: #189b3f;
  font-size: 14px;
  font-weight: 600;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #777;
  font-size: 14px;
}

.rating svg {
  font-size: 18px;
}

.rating svg:first-child {
  color: #f5b400;
}

.old-price {
  color: #777;
  font-size: 14px;
  text-decoration: line-through;
  margin-bottom: 4px;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.product-price {
  font-size: 26px;
  font-weight: 800;
  color: #111;
  margin-bottom: 8px;
}

.product-bonus {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.cart-button {
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 4px;
  background: #e2231a;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button svg {
  font-size: 34px;
}

.cart-button:hover {
  background: #b91c14;
}