.category-section {
  padding: 0 160px 40px;
  background: #eeeeee;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.category-card {
  position: relative;
  height: 270px;

  background: white;
  border: 1px solid #d4d4d4;
  border-radius: 5px;

  overflow: hidden;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.category-title {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
  font-weight: 600;
  color: #15191f;
}

.category-hover {
  position: absolute;
  inset: 0;

  background: #eaf3ff;

  display: none;
  flex-direction: column;
  align-items: center;

  padding: 25px 15px;

  overflow-y: auto;
  z-index: 5;
}

.category-card:hover .category-hover {
  display: flex;
}

.category-hover-item {
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}

.category-hover-item:hover {
  text-decoration: underline;
}

.category-hover::-webkit-scrollbar {
  width: 6px;
}

.category-hover::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}