.banners-section {
  width: 100%;
  background: #eeeeee;
  padding-bottom: 60px;
}


.banner-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}


.banner-slider {
  position: relative;

  width: 100%;
  height: 280px;

  overflow: hidden;
}


.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}


.slider-track img {
  width: 100%;
  min-width: 100%;

  height: 100%;

  object-fit: cover;   /* щоб заповнювало */
  object-position: center;

  display: block;
}



.banner-arrow {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  width: 44px;
  height: 44px;

  border: none;
  background: white;

  font-size: 28px;

  cursor: pointer;

  z-index: 5;
}


.banner-arrow.left {
  left: 15px;
}


.banner-arrow.right {
  right: 15px;
}


.banner-dots {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;

  width: fit-content;
  margin: 15px auto 45px;
}


.banner-dots button {
  width: 7px !important;
  height: 7px !important;

  min-width: 7px !important;
  max-width: 7px;

  padding: 0 !important;

  border-radius: 50%;
  border: 1px solid #222;

  background: transparent;

  flex: 0 0 auto;
}


.banner-dots button.active {
  background: #222;
}